

<div class="container">

    <h2 class="text-center">Turntabl Customers</h2>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="form-inline">
            <input formControlName="customer_name" class="form-control mr-sm-2" type="search" placeholder="Search by name" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Level</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of retrivedCustomers">
                    <td>{{item.customer_id}}</td>
                    <td>{{item.customer_name}}</td>
                    <td>{{item.customer_email}}</td>
                    <td>{{item.customer_level}}</td>
                    <td><a routerLink = "/details">view details</a></td>
                </tr>

            </tbody>
        </table>
        <a routerLink ="/addcustomer"
         class="btn btn-success" style="float:right; background-color:#4CAF50; color:white">Add new customer</a>
    </div>
    