
<div class="container">
        <h2 class="text-center">Turntabl Customers</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Level</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of customers">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.level}}</td>
                    <td><a routerLink = "/details">view details</a></td>
                </tr>

            </tbody>
        </table>
        <a routerLink ="/addcustomer"
         class="btn btn-success" style="float:right; background-color:#4CAF50; color:white">Add new customer</a>
    </div>
    