
<div class="container">
        <h2 class="text-center">Turntabl Projects</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Facebook</td>
                    <td>Social Media</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>TCMS</td>
                    <td>Thornton</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Kwikly</td>
                    <td>Food delivery app</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>TourMe</td>
                    <td>Mobile application for tourists</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Integration System</td>
                    <td>Integration</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Testing software</td>
                    <td>Testing System</td>
                </tr>
            </tbody>
        </table>
    </div>
     <a [routerLink]="['/addproject']" routerLinkActive="router-link-active"  type="button" class="btn btn-success" style="float:right; margin-right: 150px">Add new Project</a>