
    <h4 style="text-align:center">Customer Details</h4>

    <div class="card">
        <img src="/assets/images/new.jpg" alt="Isaac" style="width:100%" height="200px">
        <h4>Isaac Agyen</h4>
        <p class="title">Level: Gold</p>
        <p><i class="fa fa-map-marker" aria-hidden="true">Dome Pillar2</i></p>
        <p><i class="fa fa-phone" aria-hidden="true">0553458272</i></p>
        <i class="fa fa-envelope" aria-hidden="true">izagyen96@gmail.com</i>
       <br>
        <p><button>Update</button></p>
    </div>
